* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: #0b0e14;
    color: white;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal { width: 90%; max-width: 1000px; }

.caja {
    background: #161b22;
    border: 1px solid #30363d;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.botones-cambio { margin-bottom: 20px; }
.tab { background: none; border: none; color: gray; cursor: pointer; padding: 10px; }
.tab.active { color: #58a6ff; border-bottom: 2px solid #58a6ff; }

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #0d1117;
    border: 1px solid #30363d;
    color: white;
}

.btn-verde { background: #238636; color: white; border: none; padding: 10px; width: 100%; cursor: pointer; }
.btn-rojo { background: #f85149; color: white; border: none; padding: 8px 15px; cursor: pointer; border-radius: 5px; }

.cabecera { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
.menu { display: flex; gap: 10px; margin-bottom: 20px; }
.menu button { flex: 1; padding: 15px; background: #21262d; border: 1px solid #30363d; color: white; cursor: pointer; }

.contenido {
    background: #0d1117;
    border: 1px solid #30363d;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}